{% extends 'layouts/base.html' %}
{% load static from staticfiles %}


{% block content %}
<div class="container">
    <!-- messages -->
    {% include 'layouts/partials/messages.html' %}

    <div class="main-info row">
        {% for cat in main_data %}
                {% for item, nums in cat.iteritems %}
   		    {% if not item == 'datewise' and not item == 'campaignwise' %}
		    <div class="four columns">
                	<div class="header-info">
                    	{{ item }}
                	</div>
                	<div class="num">
                    	{{ nums }}
                	</div>
		    </div>
		    {% endif %}
                {% endfor %}
        {% endfor %}
    </div>


    <div class="form-container">
        <div class="campaigns toremove tags u-cf">
            {% for campaign in selected_data.selected %}
            <span class="tag">{{ campaign }}<span class="typicons-times"></span></span>
            {% endfor %}
        </div>
        <div class="campaigns toadd tags u-cf">
            {% for campaign in campaigns %}
            <span class="tag">{{ campaign.name }}<span class="typicons-plus"></span></span>
            {% endfor %}
        </div>
        <form id="search_form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="selected" id="selected" {% if selected_data.selected %}value="{{ selected_data.selected|join:"," }}"{% endif %}/>
            <input type="text" name="query" id="query" placeholder="Type campaign name and select from the dropdown. e.g. dailyjobalert" />
            <script type="text/javascript">
                var getCampaigns = new Bloodhound({
                    datumTokenizer: function (datum) {
                        return Bloodhound.tokenizers.whitespace(datum.name);
                    },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '/j/campaigns?query=%QUERY',
                        wildcard: '%QUERY'
                    }
                });
                $('form input#query').typeahead({
                    displayKey: 'name',
                    hint: true,
                    highlight: true,
                    minLength: 2,
                },{
                    name: 'campaign-ta-list',
                    display: 'name',
                    source: getCampaigns
                });
            </script>
            <div class="row">
                <div class="six columns">
                    <input type="text" name="start_date" id="start_date" placeholder="Select a start date" {% if selected_data.start_date %}value="{{selected_data.start_date}}"{% endif %}/>
                </div>
                <div class="six columns">
                    <input type="text" name="end_date" id="end_date" placeholder="Select the end date" {% if selected_data.end_date %}value="{{selected_data.end_date}}"{% endif %}/>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input type="text" name="camp_id" id="camp_id" placeholder="Enter unique campaign id" {% if selected_data.camp_id %}value="{{selected_data.camp_id}}"{% endif %}/>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <input type="text" name="sent_by" id="sent_by" placeholder="Enter recruiter ID" {% if selected_data.sent_by %}value="{{selected_data.sent_by}}"{% endif %}/>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <button type="submit" class="button button-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="results-container">
        {% for cat in main_data %}
            {% if 'datewise' in cat or 'campaignwise' in cat %}
                {% for item, dlist in cat.iteritems %}
                    {% if item == 'datewise' %}
                        <table class="u-full-width datewise">
                        <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Sent</th>
                                    <th>Opened</th>
                                    <th>Clicked</th>
                                    <th>Primary</th>
                                </tr>
                        </thead>
                        <tbody>
                        {% for d, nums in dlist.iteritems %}
                        <tr>
                            <td>{{ d }}</td>
                            <td>{{ nums.sent }}</td>
                            <td>{{ nums.opened }} <strong>(Sent to opened: {% widthratio nums.opened nums.sent 100 %}%)</strong></td>
                            <td>{{ nums.clicked }} <strong>(Sent to clicked: {% widthratio nums.clicked nums.sent 100 %}%), (Opened to clicked: {% widthratio nums.clicked nums.opened 100 %}%)</strong></td>
                            <td>{% if nums.primary_clicks > 0 %}{{ nums.primary_clicks }}{% else %}N/A{% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}
                    {% if item == 'campaignwise' %}
                        {% for cid, rdlist in dlist.iteritems %}
                            <h4 class="campaign_id"><span>{{ cid }}</span></h4>
                            <table class="u-full-width datewise">
                            <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Sent</th>
                                        <th>Opened</th>
                                        <th>Clicked</th>
                                        <th>Primary</th>
                                    </tr>
                            </thead>
                            <tbody>
                            {% for d, nums in rdlist.iteritems %}
                                <tr>
                                    <td>{{ d }}</td>
                                    <td>{{ nums.sent }}</td>
                                    <td>{{ nums.opened }} <strong>(Sent to opened: {% widthratio nums.opened nums.sent 100 %}%)</strong></td>
                                    <td>{{ nums.clicked }} <strong>(Sent to clicked: {% widthratio nums.clicked nums.sent 100 %}%), (Opened to clicked: {% widthratio nums.clicked nums.opened 100 %}%)</strong></td>
                                    <td>{% if nums.primary_clicks %}{{ nums.primary_clicks }}{% else %}N/A{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
