footer {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding: 25px 0;
}
footer .info {
    font-size: 1rem;
    text-align: center;
    color: #b7b7b7;
}
footer .typicons-heart {
    font-size: 1.2rem;
    vertical-align: -webkit-baseline-middle;
    color: #ff6f88;
}
.centered-form-wrapper {
    text-align: center;
    margin-top: 100px;
}
.centered-form-wrapper .phoenix-icon {
	position: absolute;
    top: -48px;
    left: 50%;
    margin-left: -75px;
    padding: 10px;
    background: white;
}
.centered-form-wrapper .phoenix-icon img {
    width: 135px;
    height: auto;
    background: white;
    margin-bottom: -10px;
}
.centered-form-wrapper .login-form {
	margin: 0 auto;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    display: block;
    padding: 30px;
	padding-top: 60px;
	max-width: 340px;
}
.centered-form-wrapper .button,
.centered-form-wrapper input {
	width: 100%;
}
.smaller-text {
	font-size: 0.75em;
}
.gray {
	color: #b9b9b9;
}
.red {
	color: #ff0000;
}
.uppercase {
	text-transform: uppercase;
}
.form-errors ul,
.form-errors li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-info {
    margin: 0 auto;
    margin-top: 35px;
}
.form-container input {
    width: 100%;
}
.main-info .columns {
    text-align: center;
    background: #f9f9f9;
    padding: 20px 0;
    border-radius: 3px;
}
.main-info .columns:hover {
    background: #fdfdfd;
}
.main-info .header-info {
    color: #bbb;
    text-transform: uppercase;
}
.main-info .num {
    font-weight: bold;
    font-size: 2.5rem;
}
#logo-area {
    text-align: center;
    padding: 15px 0;
}
#logo-area img {
    width: 52px;
    height: auto;
}
.tags {
    margin: 20px 0;
    display: block;
    width: 100%;
}
.tags .tag {
    cursor: pointer;
    background: #ddd;
    padding: 7px 20px 7px 12px;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
    position: relative;
    margin-right: 4px;
    display: inline-block;
    margin-bottom: 10px;
}
.tags.toremove .tag {
    background: #cbe7f3;
    color: #7997bf;
}
.tags .tag span {
    margin-top: 5px;
    position: absolute;
    right: 6px;
    top: 1.5px
}
.twitter-typeahead {
	width: 100%;
}
.tt-menu {
	top: 40px !important;
	background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
	width: 100%;
}
.tt-menu .tt-suggestion {
	padding: 10px 15px;
	border-bottom: 1px solid#ddd;
	color: #9b9b9b;
}
.tt-menu .tt-suggestion .tt-highlight {
	color: black;
}
.tt-menu .tt-suggestion:hover {
	background: #eee;
}
.tt-menu .tt-suggestion:last-child {
	border-bottom:none;
}

/*** messages **/
ul.messages {
    list-style:none;
}

ul.messages li {
    padding: 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;

}

ul.messages li.error {
	background: #ffd2d2;
    border: 1px solid #ffb6b6;
    color: #ec8686;
}
table.u-full-width.datewise {
    margin-bottom: 50px;
    font-size: 12px;
    margin-top:15px;
}
.navbar-list {
    list-style: none;
    margin-bottom: 0;
}
.navbar {
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 0;
    font-size: 12px;
}

.logo-bar {
    margin-right: 7rem;
}
.navbar-item.logo img {
    width: 110px;
    height: auto;
}

.navbar-item > a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: -0.1px;
    font-weight: 600;
    color: #999;
}

.navbar-item {
    margin-top: 10px;
    display: inline-block;
    margin-left: 8px;
}
.navbar-item.logo {
    margin-top: 0;
}
.navbar-list.submenu {
    background: #fff;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    right: -15px;
    top: 36px;
    border: 1px solid #eee;
    text-align: right;
    min-width: 150px;
}
.navbar-list.submenu > .subitem > a {
    background: #fbfbfb;
    padding: 5px;
    display: block;
}
.left-bar {
    margin-top: -6px;
}

.left-bar .navbar-link span {
    color: #6b6b6b;
    font-size: 20px;
    vertical-align: middle;
}
#track_ads_form {
    margin-top: 8rem;
}
.no-data {
    display: block;
    margin: 20px 0;
    text-align: center;
    background: #ffffe0;
    padding: 25px;
    border-radius: 4px;
    color: #75745e;
}
.table-top {
    display: block;
    margin: 20px 0;
    text-align: center;
    background: #f3f3f3;
    padding: 25px;
    border-radius: 4px;
    position: relative;
}

.table-top .date {
    position: absolute;
    top:5px;
    right:15px;
    font-size: 13px;
    color: #969494;
}

.table-top .number {
    font-weight: bold;
    font-size: 30px;
}
h4.campaign_id {
    color: #33C3F0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px dashed #e7e7e7;
    line-height: 40px;
    margin-bottom: 0;
}
h4.campaign_id span {
    color: #a7a96c;
    text-transform: none;
    font-size: 12px;
    font-weight: bold;
    background: #eaf3cb;
    padding: 8px;
    border-radius: 4px;
}
.navbar-item span.label {
    position: relative;
    top: -15px;
    left: -30px;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #33C3F0;
    padding: 2px 4px;
    border-radius: 2.5px;
}

.navbar-item span.label.green {
    color: #55941f;
    background: #c1f033;
}
