<html lang="en">
    <head>
        <title>Phoenix</title>
    </head>
    <body>
        <h4>List of Resources</h4>
        <ul>
            <li><a href="//techstricks.com/services/website-design/">Web Design</a></li>
            <li><a href="//techstricks.com/services/web-development/">Web Development</a></li>
            <li><a href="//techstricks.com/services/social-media-marketing/">Digital Marketing</a></li>
            <li><a href="//techstricks.com/services/">SEO</a></li>
            <li><a href="//techstricks.com">Web Development in Delhi</a></li>
            <li><a href="//techstricks.com/services">Tech team for startups</a></li>
            <li><a href="//techstricks.com/blog">Tech Blog</a></li>
            <li><a href="//techstricks.com/services/e-commerce/">E-commerce Solutions</a></li>
            <li><a href="//techstricks.com/services/mobile-application-development">Mobile Application Development</a></li>
        </ul>
    </body>
</html>
